.my-diary-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diary-title-text {
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  width: 4rem;
  height: 1.58rem;
  background-color: #72d38b;
  color: white;
  text-align: center;
  padding: 0.3rem;
  margin-left: -45.6rem;
  margin-bottom: -0.1rem;
  margin-top: 8rem;
}

.my-diary-page-input {
  border: 2px solid #72d38b;
  width: 50%;
  padding: 1rem;
}
